:root {
  --color-primary: #2563eb;
  --color-dark: #0f172a;
  --color-gray: #64748b;
  --color-light: #e2e8f0;
  --color-bg: #f8fafc;
  --color-white: #ffffff;

  --font-main: "Inter", sans-serif;

  --transition: all 0.3s ease;
}