.footer {
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background-color: #1b1a1a;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  color: #6b7280;
  font-size: 0.9rem;
}